<!DOCTYPE html>
<html>
<head>
  <title>Таблица с данными</title>
  <link rel="stylesheet" href="../styles/style.css">
</head>
<body>

  <div class="wrapper">
    <div class="container">
      <div class="buttons">
        <button class="back-button">Назад</button>
        <div class="sort">
          <span class="sort-label">Сортировка:</span>
          <button class="sort-button">по возрастанию</button>
        </div>
        
      </div>
      <p class="path">Путь к директории: /home/irina</p>
      <table>
        <thead>
          <tr>
            <th>Тип</th>
            <th>Название</th>
            <th>Размер</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Директория</td>
            <td>irina</td>
            <td>56,3 мб</td>
          </tr>
          <tr>
            <td>Файл</td>
            <td>html.html</td>
            <td>53 кб</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <script>
    const sortButton = document.querySelector('.sort-button');
    let sortAscending = true;

    sortButton.addEventListener('click', () => {
      sortAscending = !sortAscending;
    sortButton.textContent = sortAscending ? 'по возрастанию' : 'по убыванию' ;
    })
    
      // Отправляем запрос на сервер
      const response = await fetch('/sort', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          ascending: sortAscending
        })
      });

      // Обрабатываем ответ от сервера
      const data = await response.json();
      // Обновляем таблицу с новыми данными
      // ...

  </script>

</body>
</html>
