<!DOCTYPE html>
<html>
<head>
  <title>Таблица с данными</title>
  <link rel="stylesheet" href="../styles/style.css">
  
</head>
<body>

  <div class="wrapper">
    <div class="container">
      <div class="buttons">
        <button class="back-button">Назад</button>
        <div class="sort">
          <span class="sort-label">Сортировка:</span>
          <button class="sort-button">asc</button>
        </div>
        
      </div>
      <p>Путь к директории:<div class="path">/</div></p>
      <table>
        <thead>
          <tr>
            <th>Тип</th>
            <th>Название</th>
            <th>Размер</th>
          </tr>
        </thead>
        <tbody id="fileTableBody">
          <tr>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script type="module" src="../server/js/script.js"></script>
</body>
</html>
